<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>S01ar Sys | Measurement Conversion</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/measurement_converter.css" %}">
    </head>
    <body>
        <div id="header">
            <header>
              <a onClick="window.location='/'">
                <h1>S01ar Sys</h1>
              </a>
            </header>
            <div id="nav">
              <button id="nav-button"></button>
            </div>
          </div>
        <div id="main">
            <div id="app"></div>
        </div>

        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>