<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
        <title>S01ar Sys | Pwd Manager</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/pwd-manager.css" %}"/>
    </head>
    <body>
        <div id="header">
            <header>
                <a onclick="window.location='/'"><h1>S01ar Sys</h1></a>
            </header>
            <div id="nav">
                <!-- <div class="menubar">
                    <a href="pwd-manager.html" id="pwd-manager-link">Pwd Manager</a>
                </div> -->
                <button id="nav-button"></button>
            </div>
        </div>

        <div id="main">
            <h1>Pwd Manager</h1>

            <div id="features">
                <div class="feature" id="create-pwd">
                    <h2>Create a Password</h2>
                    <button id="create-logo" onclick="window.location='/pwd'">Create Logo</button>
                </div>
                <div class="feature" id="view-pwd">
                    <h2>View a Password</h2>
                    <button id="view-logo" onclick="window.location='/pwd'">View Logo</button>
                </div>
                <div class="feature" id="remove-pwd">
                    <h2>Delete a Password</h2>
                    <button id="remove-logo" onclick="window.location='/pwd'">Delete Logo</button>
                </div>
            </div>
        </div>
    </body>
</html>