html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #242424;
  color: #fff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #242424;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 5px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #121212;
  border-radius: 0 0 30px 30px;
}

#header header h1 {
  position: fixed;
  left: 30px;
  top: 10px;
  font-family: "Courier New";
  cursor: pointer;
}

#header header h1 img {
  height: 50px;
  vertical-align: middle;
  margin-right: 20px;
}

#header #nav #navBtn {
  position: fixed;
  top: 30px;
  right: 18px;
  background: none;
  border: none;
  height: 24px;
  width: 29px;
  cursor: pointer;
}

#header #nav #navBtn:before {
  content: "";
  position: fixed;
  top: 33px;
  right: 20px;
  width: 25px;
  height: 5px;
  background: #fff;
  box-shadow: 0 7.5px 0 0 white, 0 15px 0 0 white;
  border-radius: 5px;
}

#main {
  margin-top: 120px;
}

#main h1 {
  text-align: center;
  font-weight: 700;
  font-size: 72px;
}

#clips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin-bottom: 50px;
}

.clip {
  text-align: center;
  background-color: #484848;
  padding: 5px;
  width: 400px;
  height: 400px;
  border-radius: 50px;
}

.clip p {
  margin: 30px;
  text-align: justify;
  font-family: Helvetica;
}

.clip button {
  background: none;
  border: 3px solid #969696;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

.clip button:hover {
  background-color: crimson;
  color: #000;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.clip #copyBtn {
  background: none;
  border: 3px solid #969696;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
}

.clip #copyBtn:hover {
  background-color: #96e6b3;
  color: #000;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (max-width: 1376px) {
  #clips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
}

@media only screen and (max-width: 876px) {
  #clips {
    display: block;
  }
  .clip {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

#menu {
  display: none;
  background-color: #969696;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

#menu #navClose {
  position: fixed;
  top: 0;
  right: 0;
  background: none;
  border: none;
  margin: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: 1000;
  cursor: pointer;
}

#menu ul {
  margin-top: 70px;
  list-style-type: none;
}

#menu ul li {
  margin-bottom: 20px;
  text-align: right;
  margin-right: 20px;
}

#menu ul li a {
  text-decoration: none;
  color: #121212;
  font-size: 20px;
  line-height: 2;
}

#menu ul li a img {
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

#menu ul #settings {
  position: fixed;
  bottom: 0;
}

#pasteBtn {
  margin-top: 20px;
  background: none;
  border: 3px solid #969696;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  color: #fff;
  font-size: 20px;
}

#pasteBtn:hover {
  background: #96e6b3;
  color: #000;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
